body {
    background-image: radial-gradient(circle, #A5B6B0, #5C706C, #374340, #1C2220);
    font-family: "Georgia";
    font-weight: 500;
    color: white;
}



.navbar-collapse{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.fa-brands{
    margin-top: 12px;
}


/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("../img/organized-workspace.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: start;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}

